input:active {
  background-color: #ffcccc;
}

input:focus {
  background-color: darkorange;
}

input:checked {
  outline: 2px solid blue;
}

input:disabled {
  outline: 2px solid red;
}

div:empty {
  background-color: aqua;
  height: 30px;
  width: 100px;
  border: 1px solid red;
}

input:enabled {
  text-decoration: underline;
}

div:first-of-type {
  background-color: #ccccff;
}

div:last-of-type {
  background-color: #ccffcc;
}
